
<div class="row">
  <div class="col m3">
    <div class="card grey darken-1 large">
      <div class="card-content white-text">
        <div><%= current_user.name %></div>
        <div><%= current_user.address %></div>
      </div>
    </div>
  </div>
</div>
