<div class="row">
<div class="col m1">
  </div>
<h4 class="col m10">Our Curated Selecton of Salt and Salt Accessories</h4>
</div>
<div class="row">
<% @items.each do |item| %>
  <%= item.name %>
<% end  %>
</div>
