/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "materialize/components/color";
 $primary-color: color("black", "lighten-2") !default;
 $secondary-color: color("teal", "darken-4") !default;
 @import 'materialize';

 body {
 display: flex;
 min-height: 100vh;
 flex-direction: column;
 background: url("https://spookyandsweet.files.wordpress.com/2016/03/colorful-sea-salt.jpg");
 background-size: 100%;
}

main {
 flex: 1 0 auto;
}

html {
  font-family: 'lato', sans-serif;
}

nav {
  background-color: rgba(220,220,220, 0.2) !important;
}

a {
  color: black;
  text-decoration: underline;

}

a:hover {
  color: hotpink;
}

label {
  font-size: 1.5em;
}
.notice {
  color: rgb(150, 50, 50);
}

.transparent-white {
  background-color: rgba(255,255,255, 0.6) !important;
}

#card-image {
  height: auto;
}

#show-card {
  background: rgba(252,255,244,0.8)
}

#cart {
  color: white;
  font-size: 36px;
}

#nav-counter {
  margin-top: 15px;
  margin-right: 5px;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 21px;
}

#left-floater {
  float: left;
}

.add-cart {
  margin-top: 10px;
  margin-right: 10px;
}
.card {
  height: auto;
}

.form-input {
  color: black;
}

.message {
  color: green;
}

#checkbox {
  color: black;
}
<<<<<<< HEAD
=======

/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: white;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}
>>>>>>> d69bb3d518df38c28d5f37c370a98a009141c1cb
